.form-parent{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content:center; 
}

.form-style{
    width: 40em;
    transform:translateX(15%) ;
}

.btn-submit{
    background-color: #B09586 ;
    color: #fff;
    font-family: 'Tenor Sans';
    transform: translateX(150%);
}
.btn-submit:hover{
    background: #968378;
}
