.image-product{
    width: 200px;
    height: 200px;
    transform: translateX(35%);
}
.brand-barang{
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}
p{
    font-family: "Sanchez";
    text-align: center;
}
.nama-barang{
    font-size: 1.2em;
    text-align: center;
}
.price-barang{
    font-size:1em;
    text-align: center;
}
.foto-cewek{
    margin-top: 4em; 
    width: 65em;
    height: 30em;
}
.banner-header{
    font-family: 'Nixie One';
    text-align: center;
    font-size: 3em;
    margin-top: 1em;
}
.banner-desc{
    font-family: 'Tenor Sans';
    text-align: center;
    font-size: 2em;
}
