{% load static %}
{% include 'base.html' %}



{% block title %}
<title>Create Barang </title>
{% endblock %}

{% block body %}
    <div class="container form-parent" style="padding-top: 1em;">
        <div class="display-4 p-3 mb-4 text-center" style="font-family: 'Playfair Display';">Upload Product</div>
        <form method = "post" class="mb-4 form-style" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in data %}
            <div class="form-group row" style="margin-right: 0; margin-bottom: .1em;">
                <div class="col-sm-10">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-submit btn-lg mt-4 ">SUBMIT</button>
        </form>
    </div>
{% endblock %}
