{% load static %}
{% include 'base.html' %}

{% block title %}

<title>Homepage</title>

{% endblock %}

{% block body %}
<section id='product'>
    <div class="container">
        <img class = 'foto-cewek' src="{% static 'img/pictcewek.webp' %}"  alt="">
        <img src="{% static 'img/banner 1.jpg' %}" style='width: 65em; padding-bottom: 10em;' alt="">
        <!-- <p class="banner-header">get your perfectly imperfect skin</p>
        <p class="banner-desc">SCROLL FOR MORE</p> -->
    </div>
    <div class="display-3 text-center mb-2 p-1 mt-4">Our Product</div>
    <div class="container mt-2 p-2">
        <div class="row">
            {% for barangnya in barang  %}
            <div class="col-12 col-md-6 col-xl-4 product-parent mt-4 mb-4">
                <img class ="image-product mb-4" src="{{ barangnya.picture.url }}" alt="">
                <p class='brand-barang'> {{ barangnya.brand_barang }} </p>
                <p class="nama-barang"> {{ barangnya.nama_barang }} </p>
                <p class="price-barang"> Rp{{barangnya.harga}} </p>
                <form action="{% url 'barangdetail' barangnya.slug  %}" enctype="multipart/form-data">
                    <div class="col-12">     
                        <button type="submit" class="btn btn-submit btn-lg mt-4 ">BUY</button>
                    </div> 
                </form>
            </div>
            {% endfor %}
        </div> 
    </div>
</section>
{% endblock %}
        
