{% load static %}

{% include 'base.html' %}

{% block body %}


<div class="container">
    <h1>Barang Terbeli</h1>
    <div class="row">
        {% for barang in barangkebeli  %}
        <div class="col-md-6">
            <img src="{{ barang.picture.url }}" alt="" class='image-product'>
        </div>
        <div class="col-md-6">
           <p class="brand-barang"> {{ barang.brand_barang }} </p>
            <p class='nama-barang'> {{ barang.nama_barang }} </p>
            <p class="price-barang"> Rp {{ barang.harga }} </p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}