{% load static %}

{% include 'base.html' %}

{% block body %}
<div class="container">
    <h1>Barang Terbeli </h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ barang.picture.url }}" alt="" class='image-product'>
        </div>
        <div class="col-md-6">
            <p class="brand-barang"> {{ barang.brand_barang }} </p>
            <p class='nama-barang'> {{ barang.nama_barang }} </p>
            <p class="price-barang"> Rp {{ barang.harga }} </p>
            <form action="{% url 'barangbeli' barang.slug  %}" enctype="multipart/form-data">   
                <button type="submit" class="btn btn-submit btn-lg mt-4 ">BUY NOW </button> 
            </form>
        </div>
    </div>
</div>

{% endblock %}