{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">        
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/buatbarang.css' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Tenor+Sans&display=swap" rel="stylesheet">
    {% block title %}


    {% endblock %}
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
                <a href="#" class="navbar-brand">
                    <img src="https://i.ibb.co/y0QH6Dw/Group-1.jpg" width="234px" height="52px" alt="">
                </a>
                <button class="navbar-toggler navbar-light bg-light" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mr-auto ml-auto">
                        <li class="nav-item">
                            <a href="{% url 'barang:homepage' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'barang:homepage' %}"  class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Pick for Me</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'barang:createbarang' %}" class="nav-link">Create Barang</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'homepage:review_create' %}" class="nav-link">Review</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'subscriber:subscriber' %}" class="nav-link">Subscriber</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="https://i.ibb.co/yPYKM8Q/account-1.jpg" width="36px" height="38px" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'barangterbeli' %}" class="nav-link">
                                <img src="https://i.ibb.co/xFz9HJS/cart-1.jpg" width="50px" height="46px" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="https://i.ibb.co/Pwn3KYm/search-1.jpg" width="38px" height="38px" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
        
            </nav>
            {% block body %}
            
            {% endblock %} 
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
  
</body>

</html>