{% load static %}
{% include "base.html" %}

{% block body %}

{% block title %}
<title>Keep in Touch with Us!</title>
{% endblock %}

      <div class="display-4 p-3 mb-4 text-center" style="font-family: 'Playfair Display';">Subscriber</div>
      <div class="article">
          <a href="{% url 'subscriber:subscriber' %}"></a>
          <div class="article">
              <div class="row">
                  {% for subscriber in subscribers %}
                      <div class="col-sm-3 text-center" style= "font-family: 'Playfair Display';">
                          <h2>{{ subscriber.name }}</h2>
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
          <br>
            <div class = 'form-group text-center col-md-9'>
                <a href="{% url 'subscriber:subscriber_create' %}"><button type="button" class= "btn btn-secondary btn-submit btn-submit:hover btn-lg btn-sm">Subscribe Here!</button></a>      
      </div>
  </div>

  
  {% endblock %}
  
